body {
  margin: 0;
  font-family: 'Agency FB', sans-serif;;
}

.container {  
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.6fr;
  grid-template-rows: 0.4fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "info info info nav"
    "foto1 foto2 foto3 nav";
}

  
.header { 
  grid-area: header;
  background-color: #00daff;
  text-align: center;
  padding: 0.5em;
}
  
.nav { 
  grid-area: nav;
  background-color: #00daff;
}

.sidenav {
  text-align: center;
  overflow-x: hidden;
}

.sidenav a {
  padding: 0.3em 0 0.3em 0;
  text-decoration: none;
  font-size: 24pt;
  color: aliceblue;
  display: block;
}

.sidenav a:hover {
  color: orange;
}

.info { 
  grid-area: info;
}

.info h1{
  font-size: 55pt;
  margin: 0.1em;
  padding-left: 0.6em;
}

.info p{
  font-size: 14pt;
  margin: 0.1em;
  padding-left: 2.7em;
}
  
.foto1 { 
  grid-area: foto1; 
}

.foto1 img{
  height: 19em;
  margin: 1em;
  padding-left: 2em;
}
  
.foto2 { 
  grid-area: foto2; 
}
  
.foto2 img{
  height: 19em;
  margin: 1em;
  padding-left: 2em;
}

.foto3 { 
  grid-area: foto3; 
}
  
.foto3 img{
  height: 19em;
  margin: 1em;
  padding-left: 2em;
}

@media (max-width: 1080px) {
  .container{
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "info info info"
    "info info info";
  }

  .nav{
    display: none;
  }

  .header img{
    height: 2.9em;
    float: left;
  }

  .info h1{
    padding: 0;
    text-align: center;
  }

  .info p{
    padding: 0;
    text-align: center;
  }

  .foto1{
    display: none;
  }

  .foto2{
    display: none;
  }

  .foto3{
    display: none;
  }
}

li{
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

label.menu-button-container {
  float: right;
}
#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1080px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 13px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    height: 1.6em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #00daff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .menu a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
  }
}