body {
    margin: 0;
    font-size: 14pt;
    font-family: 'Agency FB', sans-serif;;
  }

  .grid { 
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.6fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "time time time nav"
      "time time time nav";
  }
  
  .grid > div {
    border: 1px solid black;
  }
    
  .header { 
    grid-area: header;
    background-color: #00daff;
    text-align: center;
    padding: 0.5em;
  }
    
  .nav { 
    grid-area: nav;
    background-color: #00daff;
  }
  
  .sidenav {
    width: 14em;
    text-align: center;
    overflow-x: hidden;
    padding: 0.5em 0;
  }
  
  .sidenav a {
    padding: 0.3em 0.7em 0.3em 1em;
    text-decoration: none;
    font-size: 24pt;
    color: aliceblue;
    display: block;
  }
  
  .sidenav a:hover {
    color: orange;
  }
  
  .time { 
    grid-area: time;
    overflow-y: scroll;
  }

  #title{
    text-align: center;
    font-size: 35pt;
  }
  
  #info{
    text-align: center;
    font-size: 14pt;
  }
  
  :root {
    --primary: #00daff;
    --primary-gradient: #fff;
  }
  .section-header {
    text-align: center;
  }
  .section-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .section-header hr {
    border: 1px solid orange;
    width: 56px;
  }
  .bg-gradient_solid {
    background: var(--primary-gradient);
    color: black;
    padding: 48px 0;
  }
  .steps {
    position: relative;
    margin-top: 32px;
  }
  .steps::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: orange;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  
  .steps .content p {
    color: black;
    font-size: 14pt;
  }
  
  .steps .content h2 {
    font-weight: 600;
    font-size: 16pt;
    color: black;
  }
  
  .steps-container {
    position: relative;
    background-color: inherit;
    width: calc(50% + 32px);
  }
  
  .steps-container .content {
    padding: 32px;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 80px 0px;
    box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
  }
  
  .steps .steps-container:nth-child(even) {
    left: calc(50% - 32px);
    flex-direction: row-reverse;
  }
  
  .steps-container {
    display: flex;
  }
  
  .steps .steps-container .date {
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 62px;
    height: 62px;
    background-color: var(--primary);
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 777;
  }
  
  .step-line {
    width: 40px;
    background-color: orange;
    height: 1px;
    margin-top: 31px;
    opacity: 0.4;
    flex-shrink: 0;
  }
  
  @media (max-width: 767px) {
    .steps::after {
      left: 32px;
    }
    .steps-container {
      left: 0;
      flex-direction: row-reverse;
      width: auto;
      margin-bottom: 16px;
    }
    .steps .steps-container:nth-child(even) {
      left: 0;
    }
  }

  